In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import os

In [3]:
prod_name = input("Enter name: ")

Enter name: iphone

In [5]:
price=[]
name=[]
for i in range(1,22):
    url="https://www.flipkart.com/search?q={}&page={}".format(prod_name,i)
    webpage_info=requests.get(url).text
    scrap = bs(webpage_info)
    for j in scrap.find_all('div',class_='_30jeq3 _1_WHN1'):
        price.append(j.text)
    for k in scrap.find_all('div',class_='_4rR01T'):
        name.append(k.text)

In [6]:
d={'name':name, 'price':price}
df = pd.DataFrame(d)
df

                                     name      price
0     APPLE iPhone 13 (Starlight, 128 GB)    ₹52,499
1      APPLE iPhone 13 (Midnight, 128 GB)    ₹52,499
2          APPLE iPhone 13 (Pink, 128 GB)    ₹52,499
3          APPLE iPhone 13 (Blue, 128 GB)    ₹52,499
4          APPLE iPhone 14 (Blue, 128 GB)    ₹64,999
..                                    ...        ...
485       APPLE iPhone X (Silver, 256 GB)  ₹1,06,900
486         APPLE iPhone 5C (Green, 8 GB)    ₹37,500
487          APPLE iPhone 5C (Pink, 8 GB)    ₹37,500
488   APPLE iPhone X (Space Gray, 256 GB)  ₹1,06,900
489  APPLE iPhone 12 mini (Purple, 64 GB)    ₹50,999

[490 rows x 2 columns]

In [7]:
df.to_csv("{}.csv".format(prod_name), index=False)